* {
    user-select: none;
}

.cell {
    border: 2px solid #000;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: -1px;
    padding: 10px;
}

.cell.savanna {
    background-color: #cfef94;
}

.cell.jungle {
    background-color: #6dbf7e;
}

.cell.swamp {
    background-color: #a8aa55;
}

.cell.desert {
    background-color: #f4e090;
}

.cell.mountain {
    background-color: #c9ced6;
}
.row {
    line-height: 0;
}

.token {
    background-color: cornflowerblue;
    border-radius: 15px;
    cursor: pointer !important;  
    font-size: 15px; 
    height: 30px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    width: 30px;
}

.token.green {
    background-color: forestgreen;
}